@using CourseAplicationLib
@model User

@{
    ViewBag.Title = "Registration";
}

<a href=@Url.Action("Index", "Home")>Home</a>

@using (Html.BeginForm("Index", "Register", FormMethod.Post))
{
        <p>
        @Html.LabelFor(n => Model.Name):
        @Html.EditorFor(n => Model.Name)
        </p>
        <p>
        @Html.LabelFor(n => Model.Pass):
        @Html.PasswordFor(n => Model.Pass)
        </p>
        <p>
        @Html.LabelFor(n => Model.Email)
        @Html.EditorFor(n => Model.Email)
        </p>
        
         <input type="submit" value="Register" />
}