@model object

@{
    ViewBag.Title = "Homepage";
}

<h1>Homepage</h1>
@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@User.Identity.Name</strong> 
    @(User.IsInRole("Administrator") ? "(Administrator)" : String.Empty) 
    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text><br />

  
    @Html.ActionLink("Create New Fuc", "Create", "NewFucProposal")<br />   
    @Html.ActionLink("Fuc Proposal List", "Index", "Proposal")<br />
    @Html.ActionLink("New Fuc Proposal List", "Index", "NewFucProposal")<br />
   
}
else
{
    @:[ @Html.ActionLink("Log In", "LogOn", "Account") ]<br />
}



@Html.ActionLink("Fuc List", "Index", "Fuc")<br />
@Html.ActionLink("Register","Index","Register")