@using CourseAplicationLib
@model FucProposal

@{
    ViewBag.Title = "Proposal "+ @Model.Id + " Edit";
}

<a href=@Url.Action("Index", "Home")>Home</a>
<h1>Proposal + @Model.Id +  Edit + @Model.User</h1>

    @using (Html.BeginForm("Edit", "NewFucProposal",new {@id=Model.Id}, FormMethod.Post))
    {
        <p>
        @Html.Label("Name")
        @Html.EditorFor(n => Model.Name)
        </p>
        <p>
        @Html.Label("Acr")
        @Html.EditorFor(n => Model.Acr)
        </p>
        <p>
        @Html.Label("Required")
        @Html.EditorFor(n => Model.IsRequired)
        </p>
        <p>
        @Html.Label("Semesters")
        @Html.EditorFor(n => Model.Semesters)
        </p>
        <p>
        @Html.Label("Prerequisites")
        @Html.EditorFor(n => Model.Prerequisites)
        </p>
        <p>
        @Html.Label("ECTS")
        @Html.EditorFor(n => Model.Ects)
        </p>
        <p>
        @Html.Label("Objectives: ")
         @Html.EditorFor(n => Model.Objectives)
        </p>
        <p>
        @Html.Label("Results: ") 
        @Html.EditorFor(n => Model.Results)
        </p>
        <p>
        @Html.Label("Evaluation: ")
        @Html.EditorFor(n => Model.Evaluation)
        </p>
        <p>
        @Html.Label("Program: ")
        @Html.EditorFor(n => Model.Program)
        </p>
        
         <input type="submit" value="submit" />

    }