@using CourseAplicationMVC.Models
@model UserProfile

@{
    ViewBag.Title = "User Profile";
}

@Html.ActionLink("Home", "Index", "Home")<br />

<h1>@Model.UserName's Profile</h1>

<img src = "@Model.Image" width="150" height="150"/>


@using (Html.BeginForm("Detail", "Profile", new { @id = Model.UserName }, FormMethod.Post))
 {
     @Html.LabelFor(n => Model.FirstName)<br/>
     @Html.EditorFor(n => Model.FirstName)<br/>
     <br/>

     @Html.LabelFor(n => Model.LastName)<br/>
     @Html.EditorFor(n => Model.LastName)<br/>
     <br/>
    
    @Html.LabelFor(n => Model.Email)<br/>
    @Html.EditorFor(n => Model.Email)<br/><br/>
    
    @Html.LabelFor(n => Model.Image)<br/>
    @Html.EditorFor(n => Model.Image)<br/><br/>
   
    <input type="submit" value="save" /><br/><br/>
 }
 <!--
    @using (Html.BeginForm("Upload", "Profile", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
               
            <div class="editor-label"> Image </div>
            <div class="editor-field">
                <input type="file" name="Avatar" />
            </div>
            <p>
                <input type="submit" name="submit"
                    value="Upload Image" text="Upload Images"
                    style="font-size: .9em;" />
            </p>
       
        
    }
    -->
@Html.ActionLink("Change Password", "ChangePassword", "Account")<br/><br/>

@Html.LabelFor(n => Model.Number)<br/>
@Html.DisplayTextFor(n => Model.Number)<br/><br/>

@Html.Label("Roles")<br/>
@foreach (var s in @Roles.GetRolesForUser(Model.UserName))
{
        @Html.Label(s)<br/>

}
@if(User.Identity.Name.Equals(Model.UserName) || User.IsInRole("admin"))
{
    using (Html.BeginForm("Delete", "Account", new { id = Model.UserName }, FormMethod.Post))
    { 
        <input type="submit" value="Delete" /><br/><br/>
    }
}