@using CourseAplicationMVC.Models
@model UserProfile

@{
    ViewBag.Title = "User Profile";
}

<h1>@Model.UserName Profile</h1>

@using (Html.BeginForm("Detail", "Profile", FormMethod.Post))
 {
     @Html.LabelFor(n => Model.FirstName)<br/>
     @Html.EditorFor(n => Model.FirstName)<br/>
     <br/>

     @Html.LabelFor(n => Model.LastName)<br/>
     @Html.EditorFor(n => Model.LastName)<br/>
     <br/>
    
     @Html.LabelFor(n => Model.Image)<br/>
     @Html.EditorFor(n => Model.Image)<br/>
     <br/>
 }

@Html.ActionLink("Change Password", "ChangePassword", "Account")<br />

@Html.LabelFor(n => Model.Number)<br/>
@Html.DisplayTextFor(n => Model.Number)<br/><br/>

@Html.LabelFor(n => Model.Email)<br/>
@Html.DisplayTextFor(n => Model.Email)<br/><br/>

@Html.LabelFor(n => Model.Roles)<br/>
@Html.DisplayTextFor(n=> Model.Roles) <br/><br/>