@using CourseAplicationLib
@model FucProposal

@{
    ViewBag.Title = @Model.Name+" Proposal";
}

<a href=@Url.Action("Index", "Home")>Home</a>

<h2>Proposal @Model.Idx</h2>

<h2>Author: @Model.User</h2>
@using (Html.BeginForm("Edit", "Proposal", new { @id = Model.Idx, @oracr=Model.OriginalAcr}, FormMethod.Get))
{
         <input type="submit" value="edit"/>
}
<div class="elems_table">
<table>

<tr><th><b>
@Html.LabelFor(n => Model.Name):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.Name)
</td></tr>

<tr><th><b>
@Html.LabelFor(n => Model.Acr):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.Acr)
</td></tr>

<tr><th><b>
@Html.LabelFor(n => Model.IsRequired):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.IsRequired)
</td></tr>

<tr><th><b>
@Html.LabelFor(n => Model.Semesters):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.Semesters)
</td></tr>

<tr><th><b>
@Html.LabelFor(n => Model.Prerequisites):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.Prerequisites)
</td></tr>

<tr><th><b>
@Html.LabelFor(n => Model.Ects):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.Ects)
</td></tr>

<tr><th><b>
@Html.LabelFor(n => Model.Objectives):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.Objectives)
</td></tr>

<tr><th><b>
@Html.LabelFor(n => Model.Results):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.Results)
</td></tr>

<tr><th><b>
@Html.LabelFor(n => Model.Evaluation):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.Evaluation)
</td></tr>

<tr><th><b>
@Html.LabelFor(n => Model.Program):
</b></th>
<td>
@Html.DisplayTextFor(n => Model.Program)
</td></tr>

</table>
</div>

@using (Html.BeginForm("Accept", "Proposal", new { @id = Model.Idx, @oracr = Model.OriginalAcr }, FormMethod.Post))
{
    <input type="submit" value="Accept"/>
}

@using (Html.BeginForm("Refuse", "Proposal", new { @id = Model.Idx }, FormMethod.Post))
{
   <input type="submit" value="Refuse"/> 
}