@using CourseAplicationLib
@model User

@{
    ViewBag.Title = "Login";
}
<a href=@Url.Action("Index", "Home")>Home</a>

<h1>Login</h1>



@using (Html.BeginForm("LogOn", "Account", new { @ReturnUrl = @ViewData["RetUrl"] }, FormMethod.Post))
    {
        @Html.LabelFor(n => Model.Name)
        @Html.EditorFor(n => Model.Name)
        @Html.LabelFor(n => Model.Pass)
        @Html.PasswordFor(n => Model.Pass)

         <input type="submit" value="submit" />
    }
@{Html.EndForm();}