@using CourseAplicationLib
@model User

@{
    ViewBag.Title = "Login";
}
<a href=@Url.Action("Index", "Home")>Home</a>

<h1>Login</h1>


@using (Html.BeginForm("LogOn", "Account", new { @ReturnUrl = @ViewData["RetUrl"] }, FormMethod.Post))
    {
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)

         @Html.LabelFor(m => m.Pass)
        @Html.PasswordFor(m => m.Pass)
        @Html.ValidationMessageFor(m => m.Pass)

         <input type="submit" value="submit" />
    }
@{Html.EndForm();}