
@using CourseAplicationMVC.Models
@model LogInModel

@{
    ViewBag.Title = "Login";
}



<h1>Login</h1>


@using (Html.BeginForm("LogOn", "Account", new { @ReturnUrl = @ViewData["RetUrl"] }, FormMethod.Post))
    {
    
     @Html.ValidationSummary()
        <fieldset>
            <legend>Login Information</legend>

        @Html.LabelFor(m => m.Username): <br />
        
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)<br />
      
        @Html.LabelFor(m => m.Password): <br />
       
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)<br />
     
         <input type="submit" value="submit" onclick="formvalidation('myform');return false;"/>

          </fieldset>
    }
