@using CourseAplicationLib
@model Fuc

@{
    ViewBag.Title = "Fuc - "+@Model.Name;
}

<a href=@Url.Action("Index", "Home")>Home</a>

<h2>@Model.Name</h2>

@using (Html.BeginForm("Edit", "Fuc", new { @acr = @Model.Acr }, FormMethod.Get))
{
         <input type="submit" value="edit"/>
}
@{Html.EndForm();}

<p>
@Html.LabelFor(n => Model.Name):
@Html.DisplayTextFor(n => Model.Name)
</p>
<p>
@Html.LabelFor(n => Model.Acr):
@Html.DisplayTextFor(n => Model.Acr)
</p>
<p>
@Html.LabelFor(n => Model.IsRequired):
@Html.DisplayTextFor(n => Model.IsRequired)
</p>
<p>
@Html.LabelFor(n => Model.Semesters):
@Html.DisplayTextFor(n => Model.Semesters)
</p>
<p>
@Html.LabelFor(n => Model.Prerequisites):
@Html.DisplayTextFor(n => Model.Prerequisites)
</p>
<p>
@Html.LabelFor(n => Model.Ects):
@Html.DisplayTextFor(n => Model.Ects)
</p>
<p>
@Html.LabelFor(n => Model.Objectives):
@Html.DisplayTextFor(n => Model.Objectives)
</p>
<p>
@Html.LabelFor(n => Model.Results):
@Html.DisplayTextFor(n => Model.Results)
</p>
<p>
@Html.LabelFor(n => Model.Evaluation):
@Html.DisplayTextFor(n => Model.Evaluation)
</p>
<p>
@Html.LabelFor(n => Model.Program):
@Html.DisplayTextFor(n => Model.Program)
</p>