@using CourseAplicationLib
@model Fuc

@{
    ViewBag.Title = @Model.Name + "Edit";   
}

<a href=@Url.Action("Index", "Home")>Home</a>
<h1>@Model.Name Edit</h1>

@using(Html.BeginForm("Edit", "Fuc", FormMethod.Post))
{
    <p>
    @Html.LabelFor(n => Model.Name):
    @Html.EditorFor(n=>Model.Name)
    </p>
    <p>
    @Html.LabelFor(a => Model.Acr):
    @Html.EditorFor(a=>Model.Acr)
    </p>
    <p>
    @Html.LabelFor(r => Model.IsRequired):
    @Html.EditorFor(r=>Model.IsRequired)
    </p>
    <p>
    @Html.LabelFor(s => Model.Semesters):
    @Html.EditorFor(s=>Model.Semesters)
    </p>
    <p>
    @Html.LabelFor(p => Model.Prerequisites):
    @Html.EditorFor(p=>Model.Prerequisites)
    </p>
    <p>
    @Html.LabelFor(e => Model.Ects):
    @Html.EditorFor(e=>Model.Ects)
    </p>
    <p>
    @Html.LabelFor(o => Model.Objectives):
    @Html.EditorFor(o=>Model.Objectives)
    </p>
    <p>
    @Html.LabelFor(r => Model.Results):
    @Html.EditorFor(r=>Model.Results)
    </p>
    <p>
    @Html.LabelFor(e => Model.Evaluation):
    @Html.EditorFor(e=>Model.Evaluation)
    </p>
    <p>
    @Html.LabelFor(p => Model.Program):
    @Html.EditorFor(p=>Model.Program)
    </p>
    
    <input type="submit" value="submit" />
}
@{Html.EndForm();}